<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-warning"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf="dataLoaded == true" class="table">
  <thead>
    <tr>
        <th>İd</th>
        <th>Araba İd</th>
      <th> Müşteri İd</th>
      <th>Kiralama Tarihi </th>
      <th>Verilme Tarihi </th>
    </tr>
  </thead>
  <tr *ngFor="let rental of rentals">
    <td>{{ rental.id }}</td>
    <td>{{ rental.carId }}</td>
    <td>{{ rental.customerId }}</td>
    <td>{{ rental.rentDate }}</td>
    <td>{{ rental.returnDate }}</td>
  </tr>
</table>
